html {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: url(images/sun-bgd.png) no-repeat center center fixed;
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: hidden;
  position: relative;
}

.icons {
  margin-left: 10%;
}

.chuck_div {
  margin-top: -40px;
}

h2 {
  font-size: 2rem !important;
  text-align: center;
}

label {
  text-transform: uppercase;
}

.chuck_div {
  /*margin-top: 10%;*/
  margin-top: 0;
}

label {
  text-transform: uppercase;
}

#option {
  padding: 30px;
  text-align: center;
  color: black;
}

.icon_space {
  padding: 10%;
}

.days {
  padding: 10%;
}

h1 {
  font-size: 3rem !important;
}

.wholescreen {
  height: 100vh;
  position: relative;
}
.space {
  margin-top: 30%;
}
.space-medium {
  margin-top: 10%;
}

.chuckimg {
  max-width: 100%;
  height: auto;
}
.goback {
  position: absolute;
  bottom: 8%;
  left: 5%;
}
.city {
  display: inline-block;
}

/*=============== FIRST PAGE ============*/
#firstpage {
  display: block;
}

.firstpage_input {
  margin-top: 15vh;
}

#terazNieWiem {
  min-height: 150px;
  flex-direction: column;
  align-items: center;
}

.windImg {
  width: 150%;
  height: auto;
}

.cloudImg {
  width: 130%;
  height: auto;
}

/*=============== SECOND PAGE ============*/
#secondpage {
  display: none;
}

#secondpage h2 {
  padding: 10%;
  font-size: 3rem;
  text-align: center;
}

#confirmCityBtn {
  margin-top: 20px;
  width: 100%;
}
/*=============== THIRD PAGE ============*/
#thirdpage {
  display: none;
}
/*=============== MAIN PAGE ============*/
#mainpage {
  display: none;
}

.temp_square {
  background: cornsilk;
  padding-top: 10%;

  display: inline-block;
  padding: 30px;
}

.weather_square {
  background: cornsilk;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.joke_square {
  /* flex-direction: column; */
  background: cornsilk;

  padding: 10px;
}
/*=============== FIVE DAYS PAGE ============*/
#fivedays {
  display: none;
}

.five {
  padding: 5%;
  border: 1px solid black;
}
